@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

h2 {
    color: #a9fec9;
    letter-spacing: 10px;
    font-weight: 700;
    text-align: left;
    padding-top: 68px;
    
}

.card {
    margin-top: 100px;
    border-radius:5px;
    box-shadow: 10px 10px 50px rgba(0,0,0,0.5);
    padding:15%;
    padding-left: 8%;
}

.card-title {
    color: #a9fec9;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6px;
}

.card-text {
    padding-top: 10px;
}